.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  --general-padding: 0.3rem 1rem;
  --color-subtle: rgb(60, 60, 60);
  --radius-s: 5px;
  --bg-opaque: rgba(128, 128, 128, 0.139);
}

.inputSection {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 50vw;
  max-width: 500px;
  margin-bottom: 20vh;
}

.inputSection::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
  z-index: -1;
}
.inputSection::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.inputSection::before,
.inputSection::after {
  content: '';
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.inputSection > h1 {
  color: rgba(192, 192, 192, 0.167);
  /* padding: var(--general-padding); */
  font-weight: 900;
  font-size: 4.5rem;
  letter-spacing: 0.1rem;
  cursor: default;
  margin-bottom: -0.4rem;
}

@media (max-width: 700px) {
  .inputSection {
    width: 90vw;
  }
  .inputSection > h1 {
    font-size: 2.5rem;
    padding: var(--general-padding);
  }
}
.inputSection .inputDiv {
  display: flex;
  gap: 0.3rem;
  width: 100%;
}

.inputSection .inputDiv > input {
  flex: 1;
  padding: var(--general-padding);
  border: none;
  border-radius: var(--radius-s);
  background-color: var(--bg-opaque);
}

.inputSection .inputDiv > button {
  padding: var(--general-padding);
  background-color: var(--bg-opaque);
  border: none;
  color: rgba(255, 255, 255, 0.7);
  /* border: solid 0.5px var(--bg-opaque); */
  border-radius: var(--radius-s);
  transition: all 0.2s ease-in-out;
}
.inputSection .inputDiv > button:hover {
  background-color: rgba(255, 255, 255, 0.242);
}
.inputSection .inputDiv > button:active {
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
}

.inputSection .descDiv {
  color: var(--color-subtle);
  padding: var(--general-padding);
  font-size: smaller;
  cursor: default;
}
.footer {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  gap: 1rem;
  justify-content: center;
  color: var(--color-subtle);
}

.footer a {
  transition: all 0.4s ease-in-out;
}
.footer a:hover {
  color: white;
}
.footer a small {
  display: flex;
  gap: 0.3rem;
  align-items: center;
}
